 /*Layout Global */
 *,
 html {
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
 }

 .row {
  height: 100%; /*To make section takes over window viewport*/
 }

@media (max-height: 650px) {
   .row {
    height: auto;
  }
}

.wrapper{
  /*text-align:center;*/
}
#cartodb-inf-map {
  width: 634px;
  height: 520;
  background-color: #fff;
  float: left;
  overflow: hidden;
  z-index: 1;
}
#inf-map{
  width: 634px;
  height: 522px;
  background-color: #fff;
  float: left;
  z-index: 0;
}
.cartodb-map-wrapper{
  overflow: visible;
}
.cartodb-logo{
  z-index: 0 !important;
}
/* Global Styles */

.fa-angle-double-down {
  line-height: 56px;
}

.side-description {
  background: rgba(66, 66, 66, 0.2);
  padding: 20px 10px;
}

.description {
  text-align: left;
  font-size: 14px;
  line-height: 20px;
}

.note {
  text-align: left;
  font-size: 11px;
  line-height: 20px;
}

.legends {
  list-style-type: none;
  text-align: left;
  padding: 30px 5px;
  border-top: 1px solid #333;
}

.legends li {
  line-height: 20px;
}

.legends li span {
  display: inline-block;
  width: 17px;
  height: 17px;
  border: 1px solid #ccc;
  background-color: #666;
  margin: 0 5px 0 0;
  position: relative;
  top: 3px;
}

.legends li .region-1 {
  background-color: #ebab73;
}

.legends li .region-2 {
  background-color: #60b160;
}

.legends li .region-3 {
  background-color: #5793bf;
}

.legends li .rebels_legend {
  background-color: #cae7c4;
  border-color: #cae7c4;
}

.legends li .syrian_gv_legend {
  background-color: #ebc0b3;
  border-color: #ebc0b3;
}

.legends li .iraq_gv_legend {
  background-color: #cc829b;
  border-color: #cc829b;
}

.legends li .isil_legend {
  background-color: #b3b2ae;
  border-color: #b3b2ae;
}

.legends li .nusra_legend {
  background-color: #fff7fd;
  border-color: #fff7fd;
}

.legends li .syrian_kr_legend {
  background-color: #e2d974;
  border-color: #e2d974;
}

.legends li .iraq_kr_legend {
  background-color: #d7e074;
  border-color: #d7e074;
}

.legends li .strike_circle {
  border-radius: 50%;
  border-color: #FFF;
  top: 6px;
  height: 20px;
  width: 20px;
  background-color: #FF6600;
}


.legends li .city_circle {
  border-radius: 50%;
  border-color: #004A7A;
  top: 6px;
  height: 20px;
  width: 20px;
  background-color: #004A7A;
}

.legends li .circle {
  border-radius: 50%;
  top: 6px;
  height: 22px;
  width: 22px;
  background-color: #004A7A;
  border-color: #004A7A;
  /*background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, #60B160),
    color-stop(1, #5795BF)
  );
  background-image: -o-linear-gradient(bottom, #60B160 0%, #5795BF 100%);
  background-image: -moz-linear-gradient(bottom, #60B160 0%, #5795BF 100%);
  background-image: -webkit-linear-gradient(bottom, #60B160 0%, #5795BF 100%);
  background-image: -ms-linear-gradient(bottom, #60B160 0%, #5795BF 100%);
  background-image: linear-gradient(to bottom, #60B160 0%, #5795BF 100%);*/
}

.side-arrow {
  position: absolute;
  left: 110px;
  bottom: -130px;
}

div.cartodb-timeslider a.button:hover {
  background-position: -2px -55px;
}

div.cartodb-timeslider a.button.stop:hover {
  background-position: -2px -4px;
}

 /*jQuery Radio Buttons */

/*div.jquery-radiobutton-wrapper a.jquery-radiobutton {
  background: transparent url('../img/radiobutton.png') repeat scroll 0px 0px;
  display: block;
  width: 21px;
  height: 21px;
  cursor: default;
  outline: none;
}

div.jquery-radiobutton-wrapper a.jquery-radiobutton-on {
  background-position: 21px 0px;
}*/

/* Social Profiles */
.social-profiles {
  position: fixed;
  right: 10px;
  bottom: 50px;
  width: 100px;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 10px;
}

.social-profiles .fb-share-button {
  margin-top: 10px;
}

/* Contributors Section */

#fighting_map,
#support_map {
  height: 520px;
  width: 800px;
  float: left;
}

.switch-maps {
  position: absolute;
  left: 30px;
  text-align: left;
  bottom: 10px;
  color: #000;
  text-transform: capitalize;
}

.switch-maps label {
  float: left;
  clear: both;
}

.switch-maps input {
  margin: 0 10px;
}

/* Targets Section */

#targets-container {
  margin: 0 !important;
}

/*Influence */

div.cartodb-timeslider ul li.last,
div.cartodb-timeslider .slider-wrapper,
div.cartodb-timeslider .slider-wrapper div {
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
}

div.cartodb-timeslider .ui-slider .ui-slider-handle {
  width: 19px;
  height: 12px;
  background-position: -94px -18px;
}

/* Civilians */
.civilians-infograph {
  text-align: left;
}

/* Footer Styles */
footer {
  font-size: 14px;
  border-top: 1px solid #666;
}

footer .row {
  height: auto;
}

footer ul {
  margin: 0;
  padding: 0;
  list-style-position: inside;
  list-style-type: square;
}

.copyright {
  font-size: 14px;
  color: #666;
  text-align: center;
  margin-top: 20px;
}