<!doctype html>
<html ng-app="adidas">
  <head>
   <script type="text/javascript" src=" http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <script type="text/javascript" src="../angular.min.js"></script>
    <script type="text/javascript" src="adidas.json"></script>
    <script type="text/javascript" src="adidasCtrl.js"></script>
    <link rel="stylesheet" type="text/css" href="styles.css"/>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>

    <title></title>
  </head>
  <body>
   <!-- <div ng-controller="adidasCtrl as productList" id="topics">
    <table >
      <tr>
        <td>Title</td>
        <td>Price</td> 
        <td>Gender</td>
        <td>Item Type</td>
        <td>Image</td>
        <td>Color</td>

      </tr>
      <tr ng-repeat="product in products">
        <td>{{product.title}}</td>
        <td>{{product.price}}</td> 
        <td>{{product.gender}}</td>
        <td>{{product.item_type}}</td>
        <td><img width="100px" height="100px" src={{product.images_urls[0]}}></td>
        <td>{{product.color}}</td>
      </tr>
    </table>
   </div> -->

   <div class="container">
        <div ng-controller="adidasCtrl" id="carousel-example" class="carousel slide hidden-xs" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <div class="row">
                      <div class="col-sm-3" ng-repeat-start="product in products">
                          <div class="col-item">
                              <div class="photo">
                                  <img ng-src={{product.images_urls[0]}} class="img-responsive" alt="a" />
                              </div>
                              <div class="info">
                                  <div class="row">
                                      <div class="price col-md-11">
                                          <h5>
                                              {{product.title}}</h5>
                                          <h5 class="price-text-color">
                                              {{product.price}}</h5>
                                      </div>
                                  </div>
                                  <div class="separator clear-left">
                                      <p class="btn-add">
                                          <i class="fa fa-shopping-cart"></i>See at <a href={{product.product_url}} class="hidden-sm">Adidas.com</a></p>
                                      <p class="">{{product.gender}}</p>
                                  </div>
                                  <div class="clearfix">
                                  </div>
                              </div>
                          </div>
                      </div> 
                    <div class="clearfix row-gab" ng-if="$index%4==3"></div>
                    <div ng-repeat-end=""></div>
                  </div>

                </div>
            </div>
        </div>
    </div>
</div>

  </body>
</html>